doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Save A Life
        link(rel="stylesheet", href="home.css")
        script(type="module", src="index.js",defer) 
    body 
        .navbar 
            ul 
                li
                    a(href="/", target="", rel="noopener noreferrer") home
                li
                    a(href="/add_user", target="", rel="noopener noreferrer") sing in 
                li
                    a(href="/donate", target="", rel="noopener noreferrer") donate
                li
                    a(href="/patient", target="", rel="noopener noreferrer") patient
                li
                    a(href="/singout", target="", rel="noopener noreferrer") sing out
                li
                        a(href="/login", target="", rel="noopener noreferrer") login
        table(border="1") 