doctype html
html(lang="en")
    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title login | Save A Life
        link(rel="stylesheet", href="home.css")
        link(rel="stylesheet", href="nsv.css")
        script(src="nav.js",defer) 
        
    body 
        nav 
        form(action="/login", method="post") 
            input(type="text", name="UNID",placeholder="please enter your UNID to continue",required)
            br
            input(type="text", name="email",placeholder="please enter your email to continue",required)
            br
            input(type="submit",value="submit")