input[type="checkBox"]
{
    display: flex;
    position: absolute;
    opacity: .0;
    top: 0px;
    left: 94.75dvw;
    height: 55px;
    border: none;
    outline: none;
    width: 65px;
    z-index: 100;
}

input,select,table
{
    transition: all .5s;
    position: relative;
    left: 8.3vw;
}

input,select
{
    background-color: #bd4565;
    color: white !important;
    border: none;
    margin: 1px;
    padding: 10px;
    input-security:auto;
}



.navbar
{
    background-color: #ad3535;
    padding: 3px;
    width: 8vw;
    position: absolute;
    top: 0;
    height: 98.8vh;
    border-right: white 1px solid;
    z-index: 10;
}
.navbar > ul{
    list-style: none;
}

.navbar > ul >li
{
    position: relative;
    left: -2vw;
    width: 100%;
    margin: 10px;
}

.navbar > ul > li > a{
    text-decoration: none;
    color: #FFF;
    transition: all ease-out .3s ;
    padding: 2px;
    z-index: 100;
    border-radius: 5px;

}
.navbar > ul > li > a:hover 
{
    background-color: white;
    color: #ad3535;
    padding: 7px;
}

table
{
    width: 91.7dvw;
    padding: 20px;
    border: 0;
    background: #ad3535;
    color: white;
}

form
{
    border: 1px #ad3535 solid;
    background-color: #ad3535;
    display: flex;  
    color: white;
}

input::placeholder
{
    color: white;
    border: #ad3535 1px dashed;
}

input::placeholder
{
    transition:all .5s;
}
input:hover::placeholder
{
    padding: 5px;
    font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.profile
{
    z-index: 12;
}   