doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Patient | Save A Life
        link(rel="stylesheet", href="patient.css")
        script(src="nav.js",defer) 
        script(src="patient.js",defer) 
        link(rel="stylesheet", href="nsv.css")
    body 
        header 
            h1 patients | Save A Life
        nav         
        form(action="/patient", method="post") 
                input(type="text", name="UNID",placeholder="Enter your UNID" ,required)
                br
                select(name="blood_group")  
                    option(value="AB+")
                        p   AB+
                    option(value="AB-")
                        p   AB-
                    option(value="B+")
                        p   B+
                    option(value="B-")
                        p   B-
                    option(value="A+")
                        p   A+
                    option(value="A-")
                        p   A-
                    option(value="O+")
                        p   O+
                    option(value="O-",selecte)
                        p   O-
                    option(value="RH-NULL")  
                        p   RH-NULL
                select(name="age",id="age") 
                select(name="gender")
                    option(value="male")
                        p    male
                    option(value="female")
                        p    female
                input(type="submit", value="submit")