doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Email Sent | Save A Life 
        script(src="./postLogin.js",defer) 
        script(src="nav.js",defer) 
    body 
        h1 Email Sent successfully
        p#sendBack 