doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title sing out - Save A Life
        link(rel="stylesheet", href="singout.css")   
        link(rel="stylesheet", href="nsv.css")
        script(src="nav.js",defer) 
        script(src="signout.js") 
    body 
        nav 
        header 
            h1 Succesfully logged Out
        p#sendBack You have been succesfully logged out